<h3><i class="fas fa-book-reader"></i>TALK Over Coffee</h3>

<div class="section">
    <p class="lead">Let's create your work land</p>
</div>
<div class="divide"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1"> <i class="fab fa-google left"></i>LOGIN WITH GOOGLE</a>

</div>